.grid_grey {
    background-color: #e0e0eb;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.grid_weige {
    background-color: #f5f5dc;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
ion-card-title {
    top: 25%;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    color: #8d8d63 !important;
}
.text-red {
    color: red;
    font-weight: bold;
    font-style: italic; 
}
.text-red {
    color: red;
    font-weight: bold;
    font-style: italic; 
}
.text-orange {
    color: orange;
    font-weight: bold;
    font-style: italic; 
}
.text-green {
    color: green;
    font-weight: bold;
    font-style: italic; 
}
.text-grey {
    color: #8d8d63;
    font-weight: bold;
    font-style: italic; 
}